---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import WoopingWithWords from "../assets/wedding/wooping-with-words.jpg";
console.log(Astro.url.searchParams);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-[800px] mx-auto space-y-8">
			<div class="px-2 space-y-2 lg:space-y-4 text-center">
				<p
					class="text-3xl md:text-4xl lg:text-5xl text-zinc-900 leading-[100%]"
				>
					Time for a<br /> Wedding Party
				</p>
				<p
					class="text-lg md:text-xl lg:text-2xl text-zinc-600 leading-[120%]"
				>
					We’re getting married (again) and<br /> would love for you to
					be there
				</p>
			</div>
			<div class="relative text-white p-4">
				<Image
					class="rounded-md shadow-sm"
					src={WoopingWithWords}
					alt="Wedding Cover"
				/>
			</div>
			<h4
				class="text-zinc-800 w-full text-center pb-16 max-w-[600px] text-xl lg:text-2xl mx-auto font-semibold"
			>
				Please RSVP by <span class="underline">December 1st, 2024</span>
			</h4>
			<p>Guy: +44 7561 788783</p>
			<p>Amelia: +46 70-769 98 66</p>
		</main>
		<Footer />
	</body>
</html>
