---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import PosingOutside from "../assets/wedding/posing-outside.png";
import Standing from "../assets/wedding/standing.png";
console.log(Astro.url.searchParams);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="md:flex md:flex-row">
				<div class="text-zinc-700 p-4">
					<h2 class="text-xl">Guy and Amelia's Wedding n.2</h2>
					<p class="text-lg">Save the Date: 6th September 2025</p>
					<p class="text-lg">
						Location: Park House, Stilemans, Hascombe Rd, Godalming,
						GU84AB
					</p>
				</div>
				<span class="w-2/3">
					<Image
						class="p-4 h-full object-fill"
						src={PosingOutside}
						alt="Wedding Cover"
					/>
				</span>
			</div>
		</main>
		<Footer />
	</body>
</html>

<script>
	const urlSearchParams = new URLSearchParams(window.location.search);
	const params = Object.fromEntries(urlSearchParams.entries());
	console.log(params);

	const names = document.getElementById("names");
	if (params.names) {
		names.textContent = params.names;
	}
</script>
