---
import HeaderLink from "./HeaderLink.astro";
---

<header class="px-4 py-8">
	<div
		class="flex w-full mx-auto justify-between items-center bg-beige border-4 px-4 py-4 rounded-full border-zinc-400 md:w-fit md:px-8"
	>
		<div
			class="flex w-full justify-around text-md md:text-lg gap-x-4 md:gap-x-8"
		>
			<HeaderLink href="/wedding">Home</HeaderLink>
			<HeaderLink href="/wedding/accommodation">Accommodation</HeaderLink>
			<HeaderLink href="/wedding/itinery">Details</HeaderLink>
		</div>
	</div>
</header>
