---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import InviteModal from "./InviteModal.astro";
---

<header class="px-4 py-8">
	<div
		class="flex w-full mx-auto justify-between items-center bg-beige border-4 px-4 py-4 rounded-full border-zinc-400 md:w-fit md:px-8"
	>
		<div
			class="flex w-full justify-around text-md md:text-lg gap-x-4 md:gap-x-8"
		>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/accommodation">Accommodation</HeaderLink>
			<HeaderLink href="/itinery">Timing</HeaderLink>
		</div>
	</div>
</header>
